.marginBody {
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
}

.button-submit-prosuksi {
    background-color: #2479F9;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border-color: #2479F9;
}
.button-proses-prosuksi {
    background-color: rgb(23, 67, 245);
    color: white;
    border-radius: 5px;
    border-color: #2479F9;
}
.button-submit-prosuksi:hover{
    background: rgb(23, 67, 245);
    color: white;
    cursor: pointer;
}
.button-cencel-prosuksi {
    margin-left: 6%;
    margin-right: 3%;
    background-color: #F92424;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border-color: #F92424;
}
.button-cencel-prosuksi:hover{
    background: #f75252;
    color: white;
    cursor: pointer;
}

.button-edit-produk {
    background-color: #F9A424;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border-color: #F9A424;
}
.button-edit-produk:hover{
    background: #f0b255;
    color: white;
    cursor: pointer;
}

.button-selesai-material {
    background-color: #009229;
    color: white;
    border-radius: 5px;
    border-color: #009229;
}
.button-selesai-material:hover {
    background-color: #046b21;
}
.cursor {
    cursor: pointer;
}
.modal-content  {
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    border-radius: 12px !important; 
}
