.marginAll {
    margin: 65px 10%;
}

.button-submit-prosuksi {
    background-color: #0033ff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border-color: #0033ff;
}
.button-submit-prosuksi:hover{
    background: #2f59ff;
    color: white;
    cursor: pointer;
}
.button-cencel-prosuksi {
    margin-left: 6%;
    background-color: #F92424;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border-color: #F92424;
}
.button-cencel-prosuksi:hover{
    background: #f75252;
    color: white;
    cursor: pointer;
}

.button-edit-produk {
    margin-left: 6%;
    background-color: #F9A424;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border-color: #F9A424;
}
.button-edit-produk:hover{
    background: #f0b255;
    color: white;
    cursor: pointer;
}

.button-selesai-material {
    background-color: #009229;
    color: white;
    border-radius: 5px;
    border-color: #009229;
}